.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 14px 16px 14px 16px;
  border: none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: -1px;

  cursor: pointer;
}

.red {
  background: rgb(235, 12, 12);
  color: rgb(255, 255, 255);
  &:hover {
    background: rgb(195, 0, 0);
  }
  &:disabled {
    background: rgb(195, 0, 0);
    cursor: auto;
  }
}

.svg {
  background: transparent;
  padding: 0;
}